@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #978053;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-right: 8px;
}

header img {
    width: 90px;
}

header a {
    color: #ECE7D1;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
}

nav {
    width: 25%;
}

body {
    font-family: "Dosis", sans-serif;
}

/* Main de index */
main {
    text-align: center;
    background-color: #DBCEA5;
    color: #8A7650;
}

main img {
    width: 300px;
}

.presentacion h1 {
    text-align: center;
    text-decoration: none;
    color: #8A7650;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}

.presentacion img {
    width: 40%;
}

.subtitulos img {
    width: 55%;
}

.presentacion {
    background-color: #ECE7D1;
    font-size: 1.2rem;
    display: flex;
    /* el flex direction por defecto es row, pero igual lo pongo para q sepas */
    flex-direction: row;
    justify-content: space-around;
    /* gap: 100px; */
    align-items: center;
}

.presentacion div {
    width: 45%;
    text-align: center;
}

/* GRID */
/* cuando trabajamos con grid al poner 100% le estamos diciendo q ocupe el 100% del espacio que le hemos asignado */
.contenedor-grid {
    width: 100%;
    height: 100%;
}

.contenedor-grid {
    display: grid;
    /* generar la cuadricula(grilla) */
    grid-template-areas:
        "titulo titulo titulo"
        "modelo texto1 texto1"
        "modelo anillos texto2"
        "modelo texto3 texto3"
        "modelo texto3 texto3";
    /* cantidad y el tamaño de las columnas */
    grid-template-columns: 20% 20% 30%;
    /* caantidad y el tamaño de las filass  */
    grid-template-rows: 50px 130px 160px 190px;
    /* alinea la grilla completa */
    justify-content: center;
    /* alinea el contenido */
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    background-color: #DBCEA5;
}

.titulo-grid {
    grid-area: titulo;
    color: #8A7650;
}

.modelo-grid {
    grid-area: modelo;
}

.parrafo-uno {
    grid-area: texto1;
}

.anillos-grid {
    grid-area: anillos;
}

.parrafo-dos {
    grid-area: texto2;
}

.parrafo-tres {
    grid-area: texto3;
}

/* flex */
.subtitulos {
    font-size: 1.2rem;
}

.contenedor2 h2 {
    color: #8A7650;
    font-weight: 600;
    font-size: 2.3rem;
    /* padding: 4px; */
    text-align: center;
}

.belleza,
.yoga,
.musica {
    background-color: #ECE7D1;
    width: 30%;
    padding: 5px;
    border: #8A7650 3px solid;
    margin: 5px;
    text-align: center;
}

.subtitulos {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}


/* Footer */
footer {
    background-color: #8E977D;
    text-align: center;
    gap: 11px;
}

.ig {
    width: 90px;
    margin: 8px;
}

.fb {
    width: 40px;
    margin: 18px;
}

.wp {
    width: 50px;
    position: fixed;
    right: 80px;
    bottom: 100px;
}

footer {
    display: flex;
    flex-direction: column;
}

/* media query */
/* celulares mobile */

@media (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 100px;
    }

    header ul {
        margin-right: 0;
    }

    nav {
        width: 80%;
    }

    .presentacion {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .presentacion div {
        width: 85%;
    }

    .presentacion img {
        width: 80%;
    }

    .contenedor-grid {
        grid-template-areas:
            "titulo"
            "texto1"
            "anillos"
            "texto2"
            "modelo";
        grid-template-columns: 95%;
        grid-template-rows:
            100px 150px 190px 200px 480px;
    }

    .parrafo-tres {
        display: none;
    }

    .subtitulos {
        flex-direction: column;
    }

    .belleza,
    .yoga,
    .musica {
        width: 80%;
    }

}